---
import { Textarea } from '@/components/ui/textarea';
import { SendHorizontal } from 'lucide-react';
import { Button } from '../ui/button';
---

<main class="w-full container mx-auto h-[calc(100svh-100px)]">
  <div class="h-full flex flex-col justify-center pb-4 max-w-5xl mx-auto">
    <h1 class="mx-auto mb-6 text-2xl font-semibold">
      What kind of project idea would you like to create?
    </h1>
    <div class="flex flex-row w-full gap-2 mx-auto">
      <Textarea
        placeholder="Type your business idea or industry here..."
        rows={2}
        className="bg-accent resize-none rounded-xl placeholder:text-base"
      />
      <a href="/client/result" class="self-end relative top-0">
        <Button variant="outline" size="icon">
          <SendHorizontal className="size-8" />
        </Button>
      </a>
    </div>
    <span class="ms-3 mt-2"
      >Prefer to fly solo? <a
        href="/client/result"
        class="text-slate-600 font-medium hover:underline underline-offset-2"
        >Create your own idea here →</a
      ></span
    >
  </div>
</main>
