@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  @font-face {
    font-family: 'Inter';
    font-style: thin;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/inter-thin.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/inter-medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inter-semi-bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inter-bold.ttf') format('ttf');
  }
}
