---
import Layout from '../layouts/Layout.astro';
import { Input } from '@/components/ui/input';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import {
  Pagination,
  PaginationContent,
  PaginationEllipsis,
  PaginationItem,
  PaginationLink,
  PaginationNext,
  PaginationPrevious,
} from '@/components/ui/pagination';

import { AspectRatio } from '@/components/ui/aspect-ratio';

import { Progress } from '@/components/ui/progress';
---

<Layout title="Project List">
  <!-- Search box -->
  <div class="p-5">
    <Input type="text" placeholder="Cari nama proyek atau kategori" />
  </div>
  <!--/ Search box -->
  <!-- Grid layout -->
  <div class="p-5">
    <!-- Card 1 -->
    <Card>
      <CardHeader>
        <!-- <AspectRatio ratio={16 / 9}>
          <div class="bg-slate-500"></div>
        </AspectRatio> -->
        <CardDescription>Nama Business Creator</CardDescription>
        <CardTitle>Judul Project</CardTitle>
      </CardHeader>
      <CardContent>
        <Progress value={33} />
        <p>Terkumpul 33%</p>
      </CardContent>
      <!-- <CardFooter>
      </CardFooter> -->
    </Card>
    <!--/ Card 1 -->
    <!-- Card 2 -->
    <Card>
      <CardHeader>
        <CardDescription>Nama Business Creator</CardDescription>
        <CardTitle>Judul Project</CardTitle>
      </CardHeader>
      <CardContent>
        <Progress value={33} />
        <p>Terkumpul 33%</p>
      </CardContent>
    </Card>
    <!--/ Card 2 -->
    <!-- Card 3 -->
    <Card>
      <CardHeader>
        <CardDescription>Nama Business Creator</CardDescription>
        <CardTitle>Judul Project</CardTitle>
      </CardHeader>
      <CardContent>
        <Progress value={33} />
        <p>Terkumpul 33%</p>
      </CardContent>
    </Card>
    <!--/ Card 3 -->

    <!--/ Grid layout -->
    <!-- Pagination -->
    <Pagination>
      <PaginationContent>
        <PaginationItem>
          <PaginationPrevious href="#" />
        </PaginationItem>
        <PaginationItem>
          <PaginationLink href="#" isActive>1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
          <PaginationLink href="#"> 2 </PaginationLink>
        </PaginationItem>
        <PaginationItem>
          <PaginationEllipsis />
        </PaginationItem>
        <PaginationItem>
          <PaginationNext href="#" />
        </PaginationItem>
      </PaginationContent>
    </Pagination>
    <!--/ Pagination -->
    <!-- Drawer example -->
    <!--/ Drawer example -->
  </div>
</Layout>
