---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Project Detail">
  <!-- Project title -->
  <div>Project title</div>
  <!--/ Project title -->
  <!-- Project thumbnail -->
  <div>Thumbnail</div>
  <!-- Project thumbnail -->
  <!-- Description -->
  <div>Description</div>
  <!--/ Description -->
  <!-- Budget & Progress -->
  <div>Budget & progress</div>
  <!--/ Budget & Progress -->
  <!-- Call To Action -->
  <div>Call To Action (CTA) button</div>
  <!--/ Call To Action -->
  <!-- Scope -->
  <section>Scope section</section>
  <!--/ Scope -->
  <!-- Talent -->
  <section>Talent section</section>
  <!--/ Talent -->
</Layout>
