---
import Layout from '../layouts/Layout.astro';
import ProjectPagination from '@/components/ProjectPagination.astro';
import { SearchForm } from '@/components/ui/search-form';
import ProjectCard from '@/components/ProjectCard.astro';

import projectData from '@/data/projects.json';
const projectList = projectData.projects;
---

<Layout title="Project List" isLoggedIn={true}>
  <!-- Search box -->
  <div
    class="w-full max-w-sm flex pt-8 mx-auto md:container flex-col items-center"
  >
    <div class="w-full sm:w-full md:w-[50%]">
      <SearchForm />
    </div>
  </div>
  <!-- Search box -->
  <!-- Grid layout -->
  <div
    class="py-4 mx-auto max-w-sm md:container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5"
  >
    {
      projectList
        .slice(0, 9)
        .map((project, index) => (
          <ProjectCard
            progressValue={33}
            collectedAmount="Rp150.000.000"
            projectTitle={project.project_name}
            businessOwnerName="Nama Business Creator"
            imagePlaceholder="https://placehold.co/500x281"
          />
        ))
    }
  </div>
  <!--/ Grid layout -->
  <!-- Pagination -->
  <div class="mb-10">
    <ProjectPagination />
  </div>
  <!--/ Pagination -->
</Layout>
