---
const errors = {
  email: '',
  password: '',
};
if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();

    const email = data.get('email');
    const password = data.get('password');

    if (
      typeof email !== 'string' ||
      !email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)
    ) {
      errors.email = 'Please enter a valid email address.';
    }

    if (typeof password !== 'string' || password.length < 6) {
      errors.password += 'Password must be at least 6 characters. ';
    }

    // const hasErrors = Object.values(errors).some((msg) => msg);
    // // if (!hasErrors) {
    // //   await registerUser({name, email, password});
    // //   return Astro.redirect("/login");
    // // }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

import AnimatedGridPattern from '../ui/animated-grid-pattern';
import { cn } from '@/lib/utils';
---

<main class="grid grid-cols-12 container mx-auto h-[calc(100svh-60px)] p-5">
  <div class="col-span-6">
    <div
      class="relative flex h-full w-full items-center justify-center overflow-hidden rounded-lg border bg-background md:shadow-xl"
    >
      <p
        class="z-10 whitespace-pre-wrap text-center text-5xl tracking-tighter text-black dark:text-white"
      >
        Log In to Idea<span class="font-medium">Go</span>
      </p>
      <br />
      <AnimatedGridPattern
        client:load
        numSquares={60}
        maxOpacity={0.1}
        duration={2}
        repeatDelay={1}
        className={cn(
          '[mask-image:radial-gradient(500px_circle_at_center,white,transparent)]',
          'inset-x-0 inset-y-[-30%] h-[200%] skew-y-12'
        )}
      />
    </div>
  </div>
  <div
    class="col-span-6 h-full flex flex-col w-full justify-around items-center"
  >
    <div class="w-[50%] flex flex-col justify-around h-full">
      <h1>Login</h1>
      <form
        class="flex flex-col w-full justify-start items-start gap-5"
        method="POST"
      >
        <label class="flex gap-3 flex-col w-full">
          Email:
          <input
            class="w-full p-1 border-black border rounded"
            type="email"
            name="email"
            required
          />
        </label>
        {errors.email && <p>{errors.email}</p>}
        <label class="flex gap-3 flex-col w-full">
          Password:
          <input
            class="w-full p-1 border-black border rounded"
            type="password"
            name="password"
            required
            minlength="6"
          />
        </label>
        <div
          class="flex bg-slate-200 py-2 rounded justify-center items-center w-full"
        >
          <button>Login</button>
        </div>
      </form>
    </div>
  </div>
</main>
